@{
    ViewData["Title"] = "Shipping Details Confirmation";
}

<div class="container mt-5">
    <h2 class="text-center mb-4 text-success">Shipping Details Confirmation</h2>

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">
            <strong>Success!</strong> @ViewBag.SuccessMessage
        </div>
    }

    <div class="text-center">
        <!-- Botón para regresar a la página de la orden -->
        <a href="@Url.Action("CreateOrder", "Order")" class="btn btn-primary mt-4">Return to Order Page</a>

        <!-- Botón para proceder al pago -->
        <a href="@Url.Action("Payment", "Order")" class="btn btn-success mt-4 ms-2">Proceed to Payment</a>
    </div>
</div>
