@model RegisterDTO
@{
}

<div class="row justify-content-center mt-5">
    <div class="col-lg-6 mx-auto rounded border p-4" style="background-color: #333;">
        <div class="text-center mb-3">
            <img src="~/images/GEJLABSF.png" alt="GEJ LAB Logo" class="img-fluid" style="max-width: 100px; filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));">
        </div>

        <h2 class="text-center mb-3 text-light">PÁGINA DE REGISTRO</h2>
        @* Sección para mostrar un resumen de validación de modelo, si hay errores *@
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <hr />

        @* Formulario de registro *@
        <form method="post">
            @* Campo de entrada para el nombre del usuario *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">First Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="FirstName" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            @* Campo de entrada para el apellido del usuario *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Last Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="LastName" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            @* Campo de entrada para el correo electrónico *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Email*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            @* Campo de entrada para el número de teléfono (opcional) *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="PhoneNumber" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            @* Campo de entrada para la dirección *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Address*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Address" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            @* Campo de entrada para la contraseña *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Password*</label>
                <div class="col-sm-8">
                    <input class="form-control" type="password" asp-for="Password" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            @* Campo de entrada para confirmar la contraseña *@
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Confirm Password*</label>
                <div class="col-sm-8">
                    <input class="form-control" type="password" asp-for="ConfirmPassword" style="background-color: #444; color: #fff; border: none;">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            @* Botones de acción para registrar y cancelar *@
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-warning">REGISTRAR</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-light" asp-controller="Home" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    body {
        background-color: #000000;
    }

    .btn-warning {
        background-color: #ff9f00;
        border: none;
        color: #ffffff;
    }

        .btn-warning:hover {
            background-color: #e68a00;
        }

    .form-control:focus {
        box-shadow: none;
        border-color: #ff9f00;
    }

    .shadow-lg {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
    }

    .btn-outline-light {
        border-color: #ffffff;
        color: #ffffff;
    }

        .btn-outline-light:hover {
            background-color: #ffffff;
            color: #000000;
        }
</style>
